#blogSection {
    margin-top: 200px;
    background-color: #F8F5F1;
    padding: 35px;

    .pp {
        text-align: center;
    }

    h3 {
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        margin-top: 32px;
    }

    p {
        margin-top: 27px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
    }

    #sign {
        text-align: center;
        font-size: 42px;
        font-family: 'Dancing Script', cursive;
    }
}