#instagram {
  margin-top: 80px;
  .captions {
    text-align: center;
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
    position: relative;

    .captionLine1 {
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: black;
      left: 30px;
      top: 10px;
    }

    .captionLine2 {
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: black;
      right: 30px;
      top: 10px;
    }
  }

  .ipost {
      margin-top: 30px;
  }
}

.showMorebtn {
    background-color: #777;
    display: block;
    width: 60%;
    text-align: center;
    margin: 30px auto;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}