#logoSection {
    text-align: center;

    #logo {
        font-family: 'Londrina Shadow', cursive;
        font-size: 66px;
        font-weight: 400;
        margin: 50px auto 0px auto;
    }

    #logo-text {
        font-family: 'Cinzel', serif;
        font-size: 12px;
        
    }
}