#topBar {
    width: 100%;
    height: 50px;
    background-color: #F8F5F1;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li {
            list-style-type: none;
            padding: 15px;
            a{
                color: #23049d;
            }
        }
    }
}