#topPosts {
    position: relative;
    top: 50px;
    #postCaptions {
        text-align: center;
        font-size: 18px;
        font-family: 'Cormorant Garamond', serif;
        .captionLine1 {
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: black;
            left: 30px;
            top: 10px;
        }

        .captionLine2 {
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: black;
            right: 30px;
            top: 10px;
        }
    }

    #posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .post {
            display: flex;
            align-items: center;

            img {
                width: 50%;
                text-align: center;
            }

            p {
                width: 50%;
                text-align: center;
                font-family: 'Poppins', sans-serif;
            }
        }
    }
}