@import "./fonts";
@import "./topbar";
@import "./logoSection";
@import "./sliderSection";
@import "./topPosts";
@import "./blogSection";
@import "./instagram";
@import "./tiktok";
@import "./footer";


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000 !important;
}

.wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style-type: none !important;
}

a {
text-decoration: none !important;
    
}